* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --principal-color: rgb(255, 215, 215);
    --secundario-color: rgb(224, 50, 50);
}

header {
    width: 100%;
    background-color: var(--principal-color);
    display: flex;
}

.user {
    width: 46px;
    user-select: none;
}

.user:hover {
    opacity: .7;
}

.login-boton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 90px;
    width: 100%;
}

.menu-desplegable {
    display: none;
}

.login-link {
    cursor: pointer;
    background-color: rgb(247, 159, 159);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    max-width: 55px;
    height: 55px;
}

.menu {
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: max-height .7s ease-out;
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.2);
    max-height: 0;
    font-size: 23px;
}

.menu a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu a:hover {
    opacity: .7;
    background-color: #ccc;
}

.menu-desplegable:checked+.login-link+.menu {
    max-height: none; /* Permitir altura automática */
    height: auto;     /* Asegurar altura según el contenido */
    width: 300px;
}

.menu-desplegable:not(:checked)+.login-link+.menu {
    transition: none;
    border: none;
}

.contenedor-img {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo-marca {
    width: 100px;
    user-select: none;
}

.div-transaccion{
    display: flex;
    margin: auto 50px auto 0;
    width: 100%;
    text-align: end;
    justify-content: end;
}
.a-transaccion{
    text-decoration: none;
    font-size: 24px;
    color: rgb(240, 56, 56);
}
.a-transaccion:hover{
    opacity: .7;
}




/* LOGIN */

h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--secundario-color);
}

.transaccion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.transaccion1 {
    border: 1px solid var(--secundario-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px black;
    width: 440px;
}

.transaccion1 .input_cuenta {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}

.transaccion1 button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 47, 47);
    color: white;
    border: none;
    cursor: pointer;
}

.transaccion1 button:hover {
    opacity: .7;
}

.no-registro {
    display: flex;
}

p {
    margin: 0 10px;
}


/* BOTON REGISTRO */

.boton-log {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(223, 47, 47);
    color: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.boton-loginnn {
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.boton-log:hover {
    opacity: .7;
}

.o {
    text-align: center;
    border-bottom: 1px solid var(--principal-color);
    margin: 50px;
}

.div-cont {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    opacity: .7;
}

.div-izq {
    display: flex;
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin-right: 5px;
}

.div-der {
    width: 50%;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin-left: 5px;
}


/* MONEDA */

.monto-tra {
    width: 100%;
    display: flex;
}

.montoo {
    width: 50%;
}
.selector-moneda{
    margin: auto 0 auto 50px;
}
.l-selector{
    font-size: 16px;
    margin-right: 10px;
    opacity: .7;
}
.select-moneda{
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--secundario-color);
}
.parrafo-cuenta{
    opacity: .7;
    margin: 7px 0 0 0;
}
.parrafo-cuenta2{
    opacity: .7;
    margin: 0;
}
.input-cuentaa{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 8px 0 30px 0;
}
.l-mensaje{
    padding-top: 30px;
}
.mensaje{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.volver-boton {
    display: flex;
    align-items: end;
    justify-content: end;
    text-decoration: none;
    color: rgb(23, 95, 189);
    font-size: 17px;
    margin-top: 30px;
    margin-right: 20px;
}

.volver-boton:hover {
    opacity: .7;
}



/*alerta personalizada :)*/

#fondoOscuro {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}


#alertaPersonalizada {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 700px;
    border: 1px solid var(--secundario-color);
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    z-index: 1000;
}
.p-alerta1{
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}
.botonyalerta{
    height: 100%;
}
.boton-alerta{
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
}
#alertaPersonalizada button {
    display: flex;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid var(--secundario-color);
    background-color: var(--principal-color);
    cursor: pointer;
}

#alertaPersonalizada button:hover{
    opacity: .7;
}

/* 2 */

#fondoOscuro2 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}


#alertaPersonalizada2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 700px;
    border: 1px solid var(--secundario-color);
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    z-index: 1000;
}
.p-alerta1{
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}
.botonyalerta{
    height: 100%;
}
.boton-alerta{
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
}
#alertaPersonalizada2 button {
    display: flex;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid var(--secundario-color);
    background-color: var(--principal-color);
    cursor: pointer;
}

#alertaPersonalizada2 button:hover{
    opacity: .7;
}





/* FOOTER */

footer {
    height: 200px;
    width: 100%;
    background-color: var(--principal-color);
}

.footer-title {
    width: 100%;
    background-color: rgb(253, 157, 157);
    text-align: center;
    padding: 18px 0;
    font-size: 17px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    user-select: none;
}

.footer-title-lit {
    margin: 0;
}

h4 {
    margin: 0;
}

.footer-cont {
    width: 50%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-text {
    padding-top: 15px;
}

.parrafo {
    margin-top: 20px;
}

.footer-cont2 {
    width: 50%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido-footer {
    display: flex;
    margin-top: 10px;
}

details {
    width: 200px;
}

summary {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
}

input[type="radio"] {
    display: none;
}

.moneda {
    display: block;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="radio"]:checked+.moneda {
    background-color: #cce5ff;
    font-weight: bold;
}