* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --principal-color: rgb(255, 215, 215);
    --secundario-color: rgb(224, 50, 50);
}

header {
    width: 100%;
    background-color: var(--principal-color);
    display: flex;
}

.user {
    width: 46px;
    user-select: none;
}

.user:hover {
    opacity: .7;
}

.login-boton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 90px;
    width: 100%;
}

.menu-desplegable {
    display: none;
}

.login-link {
    cursor: pointer;
    background-color: rgb(247, 159, 159);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    max-width: 55px;
    height: 55px;
}

.menu {
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: max-height .7s ease-out;
    box-shadow: 0 0 44px rgba(0, 0, 0, 0.2);
    max-height: 0;
    font-size: 23px;
}

.menu a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu a:hover {
    opacity: .7;
    background-color: #ccc;
}

.menu-desplegable:checked+.login-link+.menu {
    max-height: none; /* Permitir altura automática */
    height: auto;     /* Asegurar altura según el contenido */
    width: 300px;
}

.menu-desplegable:not(:checked)+.login-link+.menu {
    transition: none;
    border: none;
}

.contenedor-img {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo-marca {
    width: 100px;
    user-select: none;
}

.div-transaccion{
    display: flex;
    margin: auto 50px auto 0;
    width: 100%;
    text-align: end;
    justify-content: end;
}
.a-transaccion{
    text-decoration: none;
    font-size: 24px;
    color: rgb(240, 56, 56);
}
.a-transaccion:hover{
    opacity: .7;
}


/*MAIN*/
main{
    width: 80%;
    margin: auto;
}
h2{
    text-align: center;
}
.terms {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 100px;
    font-size: 18px;
}
li{
    margin: 18px 0;
}
.input-acept{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.accept-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn:hover{
    opacity: .7;
}